# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

# Avoid committing pubspec.lock for library packages; see
# https://dart.dev/guides/libraries/private-files#pubspeclock.
pubspec.lock

lib/src/api/swagger/generated/client_index.dart
lib/src/api/swagger/generated/client_mapping.dart
lib/src/api/swagger/generated/xoxno.swagger.chopper.dart
lib/src/api/swagger/generated/xoxno.swagger.dart
